{% extends "../base.html" %}

{% block title %}New transaksi : {% end %}

{% block content %}
{% autoescape None %}
<form role="form form-vertical" action="{{ request.uri }}" method="post" id="transaksi-form">
    {% for field in form %}

            <div class="form-group">
                {{ field.label(class_="control-label") }}
                <div class="input-group-lg">
                {% if field.name == 'amount' %}
                    {{field(id="amount", class_="form-control number")}}
                {% else %}
                    {{ field(class_="form-control", rows="3") }}
                {% end %}
                </div>
                {% if field.errors %}
                   {% for error in field.errors %}
                      <div class="form-group help-block has-warning"><span style="color: magenta;"> {{error}} </span> </div>
                   {% end %}
                {% end %}
            </div>


    {% end %}
            <div><input type="submit" class="btn btn-default btn-md" value="{{ _("Insert") }}" /></div>
    {% module xsrf_form_html() %}
</form>
{% end %}


{% block script %}
<script type="text/javascript">
$(document).ready(function() {
$('#transaksi-form').formValidation({
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
        },
    fields: {
        info: {
            validators: {
                notEmpty: {
                    message: 'Info dan kegunaan diperlukan'
                    }
                }
            },
        amount: {
            validators: {
                notEmpty: {
                    message: 'Jumlah nominal diperlukan'
                }
            }
        },
        memo: {
            validators: {
                notEmpty: {
                    message: 'Catatan tentang transaksi'
                }

            }
        },
    }
});

$(function () {
    $('input.number').autoNumeric();
});

$('form').submit(function(){
    var form = $(this);
    $('input').each(function(i){
        var self = $(this);
        try{
            var v = self.autoNumeric('get');
            self.autoNumeric('destroy');
            self.val(v);
        }catch(err){
            console.log("Not an autonumeric field: " + self.attr("name"));
        }
    });
    return true;
});

});



</script>
{% end %}
