    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SI Perpustakaan</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Third Party CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/light-bootstrap-dashboard.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pe-icon-7-stroke.css">

    <!--     Fonts and icons     -->
   	<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">
   	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    <!--Morri CSS -->
    <link href="/static/css/morris.css" rel="stylesheet">
    