{% load staticfiles %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!--Morris Js-->
    <script src="{% static 'js/morris.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>

    <!--Raphael Js-->
    <script src="{% static 'js/raphael.js' %}"></script>
    <script src="{% static 'js/raphael-min.js' %}"></script>


    <script src="{% static 'js/bootstrap-checkbox-radio-switch.js' %}"></script>
    <script src="{% static 'js/light-bootstrap-dashboard.js' %}"></script>

    <script type="text/javascript">
    $(function() {
        var chart_data = JSON.parse($('#chart_data').html());

        Morris.Bar({
            element: 'morris-bar-chart',
            data: chart_data.data,
            xkey: 'x',
            ykeys: ['a'],
            labels: ['Jumlah'],
            hideHover: 'auto',
            resize: true
        });

    });
    </script>