{% extends 'base-karyawan.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">Pengajuan Izin</h4>
        </div>
        <div class="content">
            <form action="/pengajuan_izin/" method="POST">

                <div class="row">
                	<div class="col-md-8">
                        {% csrf_token %}
                        {{ form|crispy }}
  					  </div>
              	</div>
                <button type="submit" class="btn btn-info btn-fill pull-right">Ajukan Izin</button>
                    <div class="clearfix"></div>
            </form>
        </div>
	</div>
</div>
{% endblock %}