{% extends "../base.html" %}

<div class="container">
{% block content %}
    <form action="/trans/{{ item.tid }}/delete" method="post">
    {% module xsrf_form_html() %}
        <input type=hidden name="tid" value="{{ item.tid }}"/>
        <div class="list-group">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="{{ static_url("images/rupiah.png")}}" height=75 width=75 class="media-object" alt="Sample Image">
                </a>
            <div class="media-body">
                <h4 class="media-heading">{{ item.info }} <b> (Rp. <span class="amount">{{ item.amount }}</span> )</b></h4>
                <p>{{ item.memo }}</p>
                <h5><p><small><i>Posted by :</i> {{ item.user.realname}} Record on {{ item.transdate }}</small></p></h5>
            </div>
        </div>
        </div>
     </form>
{% end %}
</div>

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('span.amount').autoNumeric( {aDec: ',', aSep: '.', vMax: '999999999999999.99'});
        });
    </script>
{% end %}

