{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src={{ static_url("images/rupiah.png")}} alt="125x125">
            </a>
        </div>

        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src={{ static_url("images/dollar.png")}} alt="125x125">
            </a>
        </div>

        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src={{ static_url("images/news.png")}} alt="125x125">
            </a>
        </div>

        <div class="col-xs-3">
           <a href="#" class="thumbnail">
               <img src={{ static_url("images/koin.png")}} alt="125x125">
           </a>
        </div>
    </div>
</div>
{% end %}



{% block script %}

{% end %}